@page
@using System.Reflection
@using System.Collections.Specialized
@model StudyCase.Pages.ExcepCust.IndexCust01Model

@{
    Layout = "Shared/_Layout";
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">List Customer</h3>
                    <button id="btn-add" type="button" class="btn btn-primary btn-sm">Add </button>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            @foreach (PropertyInfo propertyInfo in Model.Data[0].GetType()
                                .GetProperties())
                            {
                                <th>@propertyInfo.Name</th>
                            }
                            <th>#</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.Data)
                        {
                            <tr>
                                @foreach (PropertyInfo itemInfo in item.GetType()
                                    .GetProperties())
                                {
                                    <td>@itemInfo.GetValue(item)</td>
                                }
                                <td>
                                    <a asp-page="./DetailCust01" class="btn btn-primary btn-sm"
                                       asp-route-custNo="@item.CustomerNumber"
                                       asp-route-dataDate="@item.CustomerDate">
                                        <i class="bi bi-pencil-square"></i> Detail
                                    </a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
    $("#btn-add").on("click", function (){
        $("#main-modal").modal('show');
    });
    </script>
}